@model Calculator

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Result</title>
</head>
<body>
<div>
    <H3>@Model.X @Model.Op @Model.Y = <b class="text-danger">@Model.Calculate()</b></H3>
</div>
</body>
</html>