

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Age</title>
</head>
<body>
<div>
      <h3>Zyjesz juz @ViewBag.age lat, @ViewBag.ageMonth miesiecy i @ViewBag.ageDay dni</h3>
</div>
</body>
</html>